# Django
*.env
db.sqlite3
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
venv/
.env/
env/
media/
staticfiles/
local_settings.py
*.log
/migrations/

# React
node_modules/
build/
dist/
.env

# macOS
.DS_Store

# Log files
*.log

# Editor-specific
*.sublime-project
*.sublime-workspace
.idea/
.vscode/
*.swp
